!.gitignore
*.la
*.lo
*.o
*.pc
.dirstamp
.deps/
.libs/
bin/
obj/
_install/
config.log
config.status
config.h.in
doc/doxygen.conf
include/config.h
include/stamp-h1
libtool
Makefile
/autom4te.cache/requests

