!.gitignore
*.o
*.cmd
*.in
!/Config.in
*.a
Kbuild
docs/*
applets/applet_tables
applets/usage
applets/usage_pod
busybox
busybox_unstripped
busybox_unstripped.map
busybox_unstripped.out
include/NUM_APPLETS.h
include/applet_tables.h
include/applets.h
include/autoconf.h
include/bbconfigopts.h
include/bbconfigopts_bz2.h
include/config/
include/ms_version.h
include/usage.h
include/usage_compressed.h
.config
.config.old
.kconfig.d
.kernelrelease
_install/*
busybox.links
