!.gitignore
*.la
*.lo
*.pc
*.o
*.so*
/bin/
/include/iconv.h
/include/iconv.h.inst
/include/config.h
/lib/.libs/
/lib/*.la
/lib/*.lo
/lib/config.h
/lib/libcharset.h
/lib/localcharset.h
/lib/stamp-h2
/lib/libcharset.a
/libcharset/include/libcharset.h
/libcharset/include/localcharset.h
/libcharset/include/localcharset.h.inst
/libcharset/lib/.libs
/obj/
/po/Makefile.in
/po/POTFILES
/src/iconv
/src/iconv_no_i18n
/srclib/alloca.h
/srclib/fcntl.h
/srclib/limits.h
/srclib/signal.h
/srclib/stddef.h
/srclib/stdint.h
/srclib/stdio.h
/srclib/stdlib.h
/srclib/string.h
/srclib/sys/
/srclib/time.h
/srclib/unistd.h
/srclib/unitypes.h
/srclib/uniwidth.h
/srclib/uniwidth/.dirstamp
/srclib/libicrt.a
/src/.libs
/_install/
config.log
config.status
!config.h.in
config.h
libtool
Makefile
autom4te.cache/requests
stamp-h1
