IMAGE_LIST = boot kernel rootfs miservice customer
BOOT_IMAGE_LIST = ipl ipl_cust mxp uboot
OTA_IMAGE_LIST = boot kernel miservice customer


FLASH_TYPE = nor
BENCH = no
PHY_TEST = no
PAT_TABLE  = spi

TFTPDOWNLOADADDR:=0x21000000
KERNELBOOTADDR:=0x22000000
USR_MOUNT_BLOCKS:=miservice customer
ENV_CFG = /dev/mtd0 0x4F000 0x1000 0x50000

ipl$(RESOUCE) = $(PROJ_ROOT)/board/$(CHIP)/boot/ipl/IPL.bin
ipl$(PATSIZE) = 0x10000

ipl_cust$(RESOUCE) = $(PROJ_ROOT)/board/$(CHIP)/boot/ipl/IPL_CUST.bin
ipl_cust$(PATSIZE) = 0x10000

mxp$(RESOUCE) = $(IMAGEDIR)/boot/MXP_SF.bin
mxp$(PATSIZE) = 0x10000
mxp$(BOOTTAB) = "$(ipl$(PATSIZE))(IPL),$(ipl_cust$(PATSIZE))(IPL_CUST),$(mxp$(PATSIZE))(MXPT),$(uboot$(PATSIZE))(UBOOT),0x1000(UBOOT_ENV)"
mxp$(SYSTAB) = "$(kernel$(PATSIZE))(KERNEL),$(rootfs$(PATSIZE))(rootfs),$(miservice$(PATSIZE))(miservice),$(customer$(PATSIZE))(customer)"

uboot$(RESOUCE) = $(PROJ_ROOT)/board/$(CHIP)/boot/$(FLASH_TYPE)/uboot/u-boot.xz.img.bin
uboot$(PATSIZE) = 0x1F000

boot$(RESOUCE) = $(IMAGEDIR)/boot.bin
boot$(PATSIZE) = $(shell printf 0x%x $(shell stat -c "%s" $(boot$(RESOUCE))))
boot$(OTABLK)  = /dev/mtdblock0

ifeq ($(FLASH_SIZE), 16M)

kernel$(RESOUCE)   = $(PROJ_ROOT)/release/$(PRODUCT)/$(CHIP)/$(BOARD)/$(TOOLCHAIN)/$(TOOLCHAIN_VERSION)/bin/kernel/$(FLASH_TYPE)/uImage.xz
kernel$(PATSIZE)   = 0x200000
kernel$(BOOTENV)   = $(KERNEL_BOOT_ENV)
kernel$(BOOTCMD)   = sf read $(KERNELBOOTADDR) \$${sf_kernel_start} \$${sf_kernel_size}\;
kernel$(OTABLK)    = /dev/mtdblock1

rootfs$(RESOUCE)   = $(OUTPUTDIR)/rootfs
rootfs$(FSTYPE)    = squashfs
rootfs$(PATSIZE)   = 0x400000
rootfs$(BOOTENV)   = root=/dev/mtdblock2 rootfstype=squashfs ro init=/linuxrc

miservice$(RESOUCE)   = $(OUTPUTDIR)/miservice/config
miservice$(FSTYPE)    = squashfs
miservice$(PATSIZE)   = 0x300000
miservice$(MOUNTTG)   = /config
miservice$(MOUNTPT)   = /dev/mtdblock3
miservice$(OPTIONS)   = ro
miservice$(OTABLK)    = $(miservice$(MOUNTPT))

customer$(RESOUCE)   = $(OUTPUTDIR)/customer
customer$(FSTYPE)    = jffs2
customer$(PATSIZE)   = 0x6B0000
customer$(MOUNTTG)   = /customer
customer$(MOUNTPT)   = mtd:customer
customer$(OPTIONS)   = ro
customer$(OTABLK)   = /dev/mtdblock4

else

kernel$(RESOUCE)   = $(PROJ_ROOT)/release/$(PRODUCT)/$(CHIP)/$(BOARD)/$(TOOLCHAIN)/$(TOOLCHAIN_VERSION)/bin/kernel/$(FLASH_TYPE)/uImage.xz
kernel$(PATSIZE)   = 0x180000
kernel$(BOOTENV)   = $(KERNEL_BOOT_ENV)
kernel$(BOOTCMD)   = sf read $(KERNELBOOTADDR) \$${sf_kernel_start} \$${sf_kernel_size}\;
kernel$(OTABLK)    = /dev/mtdblock1

rootfs$(RESOUCE)   = $(OUTPUTDIR)/rootfs
rootfs$(FSTYPE)    = squashfs
rootfs$(PATSIZE)   = 0x280000
rootfs$(BOOTENV)   = root=/dev/mtdblock2 rootfstype=squashfs ro init=/linuxrc

miservice$(RESOUCE)   = $(OUTPUTDIR)/miservice/config
miservice$(FSTYPE)    = squashfs
miservice$(PATSIZE)   = 0x180000
miservice$(MOUNTTG)  = /config
miservice$(MOUNTPT)  = /dev/mtdblock3
miservice$(OPTIONS)   = ro
miservice$(OTABLK)    = $(miservice$(MOUNTPT))

customer$(RESOUCE)   = $(OUTPUTDIR)/customer
customer$(FSTYPE)    = jffs2
customer$(PATSIZE)   = 0x180000
customer$(MOUNTTG)  = /customer
customer$(MOUNTPT)  = mtd:customer
customer$(OPTIONS)   = ro
customer$(OTABLK)   = /dev/mtdblock4
endif
