BOOT_IMAGE_LIST = cis ipl ipl_cust uboot
IMAGE_LIST = boot kernel rootfs miservice customer
FLASH_TYPE = spinand
UBI_MLC_TYPE = 0
PAT_TABLE  = ubi
MTDPARTS   = "mtdparts=nand0:$(boot$(MTDPART)),$(cis$(SYSTAB))"
ENV_CFG = /dev/mtd1 0x0 0x20000 0x40000
PHY_TEST = no
CIS_PBAs = 0 0 0
CIS_COPIES = 5
USR_MOUNT_BLOCKS:=miservice customer
cis$(RESOUCE) = $(IMAGEDIR)/cis.bin
cis$(DATASIZE) = 0x40000
cis$(PGSIZE) = 2k
cis$(COPIES) = $(CIS_COPIES)
cis$(PATSIZE) = 0x140000
cis$(BOOTTAB) = $(ipl$(MTDPART)),$(ipl_cust$(MTDPART)),$(uboot$(MTDPART))
cis$(SYSTAB) = $(kernel$(MTDPART)),$(rootfs$(MTDPART)),-(UBI)

ipl$(RESOUCE) = $(PROJ_ROOT)/board/$(CHIP)/boot/ipl/IPL.bin
ipl$(DATASIZE) = 0x20000
ipl$(COPIES) = 6
ipl$(BKCOUNT) = 5
ipl$(PATSIZE) = $(call multiplyhex, $(ipl$(COPIES)), $(ipl$(DATASIZE)))
ipl$(MTDPART) = $(ipl$(DATASIZE))@$(cis$(PATSIZE))(IPL0)$(ipl$(BKCOUNT))

ipl_cust$(RESOUCE) = $(PROJ_ROOT)/board/$(CHIP)/boot/ipl/IPL_CUST.bin
ipl_cust$(DATASIZE) = 0x20000
ipl_cust$(COPIES) = 3
ipl_cust$(BKCOUNT) = 2
ipl_cust$(PATSIZE) = $(call multiplyhex, $(ipl_cust$(COPIES)), $(ipl_cust$(DATASIZE)))
ipl_cust$(PATCOUNT) = 2
ipl_cust$(MTDPART) = $(ipl_cust$(DATASIZE))(IPL_CUST0)$(ipl_cust$(BKCOUNT)),$(ipl_cust$(DATASIZE))(IPL_CUST1)$(ipl_cust$(BKCOUNT))

uboot$(RESOUCE) = $(PROJ_ROOT)/board/$(CHIP)/boot/$(FLASH_TYPE)/uboot/u-boot_$(FLASH_TYPE).xz.img.bin
uboot$(DATASIZE) = 0x40000
uboot$(COPIES) = 1
uboot$(BKCOUNT) = 1
uboot$(PATSIZE) = 0x60000
uboot$(PATCOUNT) = 2
uboot$(MTDPART) = $(uboot$(DATASIZE))(UBOOT0)$(uboot$(BKCOUNT)),$(uboot$(DATASIZE))(UBOOT1)$(uboot$(BKCOUNT)),0x40000(ENV)

boot$(RESOUCE) = $(IMAGEDIR)/boot.bin
boot$(PATSIZE) = $(shell printf 0x%x $(shell stat -c "%s" $(boot$(RESOUCE))))
boot$(MTDPART) = $(boot$(PATSIZE))(BOOT),0x40000(ENV)

kernel$(RESOUCE)   = $(PROJ_ROOT)/release/$(PRODUCT)/$(CHIP)/$(BOARD)/$(TOOLCHAIN)/$(TOOLCHAIN_VERSION)/bin/kernel/$(FLASH_TYPE)/uImage.xz
kernel$(PATSIZE)   = 0x500000
kernel$(BOOTENV)   = $(KERNEL_BOOT_ENV)
kernel$(MTDPART)   = $(kernel$(PATSIZE))(KERNEL),$(kernel$(PATSIZE))(RECOVERY)

rootfs$(RESOUCE)   = $(OUTPUTDIR)/rootfs
rootfs$(FSTYPE)    = squashfs
rootfs$(PATSIZE)   = 0x600000
rootfs$(BOOTENV)   = ubi.mtd=UBI,2048 root=/dev/mtdblock4 rootfstype=squashfs ro init=/linuxrc
rootfs$(MTDPART)   = $(rootfs$(PATSIZE))(rootfs)

miservice$(RESOUCE)   = $(OUTPUTDIR)/miservice/config
miservice$(FSTYPE)    = ubifs
miservice$(PATSIZE)   = 0xA00000
miservice$(MOUNTTG)  = /config
miservice$(MOUNTPT)  = ubi0:miservice
miservice$(OPTIONS)   = rw

customer$(RESOUCE)   = $(OUTPUTDIR)/customer
customer$(FSTYPE)    = ubifs
customer$(PATSIZE)   = 0x5000000
customer$(MOUNTTG)  = /customer
customer$(MOUNTPT)  = ubi0:customer
customer$(OPTIONS)   = rw

